body {
    text-align: center;
    background-color: #70c5ce;
}

canvas {
    border: 1px solid #000;
    background-image: url('assets/background.png');
    background-repeat: repeat-x;
    animation: slide 20s linear infinite;
}

@keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -5000px 0; }
}